        <div class="container">	
            <div>
                <div id="mi-slider" class="mi-slider graydark">
					<ul>
						<li><a href="#"><img src="/Content/images/menu/boda.JPG" alt="img01"><h4>Bodas</h4></a></li>
						<li><a href="#"><img src="/Content/images/menu/quinceaños.jpg" alt="img02"><h4>Quinceaños</h4></a></li>
						<li><a href="#"><img src="/Content/images/menu/salonfiestas.jpg" alt="img03"><h4>Especiales</h4></a></li>
					</ul>
					<ul>
						<li><a href="#"><img src="/Content/images/menu/5.jpg" alt="img05"><h4>Belts</h4></a></li>
						<li><a href="#"><img src="/Content/images/menu/6.jpg" alt="img06"><h4>Hats &amp; Caps</h4></a></li>
						<li><a href="#"><img src="/Content/images/menu/7.jpg" alt="img07"><h4>Sunglasses</h4></a></li>
					</ul>
					<ul>
						<li><a href="#"><img src="/Content/images/menu/9.jpg" alt="img09"><h4>Casual</h4></a></li>
						<li><a href="#"><img src="/Content/images/menu/10.jpg" alt="img10"><h4>Luxury</h4></a></li>
						<li><a href="#"><img src="/Content/images/menu/11.jpg" alt="img11"><h4>Sport</h4></a></li>
					</ul>
					<ul>
						<li><a href="#"><img src="/Content/images/menu/12.jpg" alt="img12"><h4>Carry-Ons</h4></a></li>
						<li><a href="#"><img src="/Content/images/menu/13.jpg" alt="img13"><h4>Duffel Bags</h4></a></li>
						<li><a href="#"><img src="/Content/images/menu/14.jpg" alt="img14"><h4>Laptop Bags</h4></a></li>
					</ul>
                    <nav>
                        <a href="#">Eventos</a>
                        <a href="#">Antros</a>
                        <a href="#">Restaurantes</a>
                        <a href="#">Cultural</a>
                    </nav>
                </div>
            </div>
        </div><!-- /container -->
        <script src="~/Scripts/Slider/jquery.catslider.js"></script>
        <script>
            $(function () {
                $('#mi-slider').catslider();
            });
        </script>
